# 서울시 공공자전거 대여소 정보 분석

- 대여소 정보 읽기
- 대여소 정보 확인
- NA 값이 몇개인지 확인 ==> NA 값이 들어있는 데이터 삭제
- 타입 변환 (대여소ID ==> int32, 기준시작일자 ==> 날짜타입) 
>- 기준시작일에 '개통'이라는 단어를 포함하고 있는 경우 '개통' 단어 삭제
- 대여소_구의 목록, 개수 출력
- 대여소_구별 거치대 수
- 구별 거치대수의 합계, 평균, 최대, 최소 출력하고 거치대가 많은 순으로 합계별 내림차순으로 10개 출력

## 대여소 정보 데이터 읽기

In [218]:
import numpy as np
import pandas as pd

df = pd.read_excel("서울특별시 공공자전거 대여소 정보(19.12.9).xlsx")
df

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수
0,마포구,101.0,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5
1,마포구,102.0,102. 망원역 1번출구 앞,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06 23:42:06,20
2,마포구,103.0,103. 망원역 2번출구 앞,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06 23:43:13,14
3,마포구,104.0,104. 합정역 1번출구 앞,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06 23:44:31,13
4,마포구,105.0,105. 합정역 5번출구 앞,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06 23:45:30,5
...,...,...,...,...,...,...,...,...
1536,관악구,2185.0,대학동 고시촌,서울특별시 관악구 신림로 97 밀라트,37.470467,126.938652,2019.09.26,10
1537,서초구,2265.0,2265. 이수고가차도 남단,서울특별시 서초구 동작대로 204 청남빌딩,37.494743,126.983063,2017-08-09 11:16:28,10
1538,종로구,465.0,465. 삼청공원 앞,서울특별시 종로구 삼청동 25-32,37.587605,126.983597,2019.11.20,5
1539,종로구,664.0,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019.11.20,10
1540,합계,NaN,1540,NaN,NaN,NaN,NaN,19545

In [71]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

## NA 값이 몇 개인지 확인

- NA값이 들어있는 데이터 삭제

In [219]:
df.isna().sum()
df = df.dropna()

In [220]:
df[df['대여소ID'].isna()]

Empty DataFrame
Columns: [대여소_구, 대여소ID, 대여소명, 대여소주소, 위도, 경도, 기준시작일자, 거치대수]
Index: []

## 타입 변환

- 대여소ID ==> int32
- 기준시작일자 ==> 날짜타입

In [221]:
df['대여소ID'] =df['대여소ID'].astype('Int32')

df['대여소ID']

C:\Users\user\AppData\Local\Temp\ipykernel_10640\457435253.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['대여소ID'] =df['대여소ID'].astype('Int32')

0        101
1        102
2        103
3        104
4        105
        ...
1535     464
1536    2185
1537    2265
1538     465
1539     664
Name: 대여소ID, Length: 1540, dtype: Int32

In [222]:
df['기준시작일자'] =df['기준시작일자'].astype(str).str.replace('개통','',regex = False)

C:\Users\user\AppData\Local\Temp\ipykernel_10640\3428834039.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['기준시작일자'] =df['기준시작일자'].astype(str).str.replace('개통','',regex = False)

In [224]:
#df['기준시작일자'] =df['기준시작일자'].str.replace('.','')
#df['기준시작일자'] =df['기준시작일자'].astype('str')
df['기준시작일자'] = pd.to_datetime(df['기준시작일자'], format='mixed')

#df['기준시작일자'].str.contains('개통').sum()
# df

C:\Users\user\AppData\Local\Temp\ipykernel_10640\3144756110.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['기준시작일자'] = pd.to_datetime(df['기준시작일자'], format='mixed')

## 대여소_구의 목록, 개수 출력

In [225]:
df['대여소_구'].unique()
df['대여소_구'].unique().size

25

## 대여소_구별 거치대 수

In [226]:
grouped = df.groupby('대여소_구')

In [227]:
grouped['거치대수'].sum().sort_values(ascending=False)

대여소_구
송파구     1298
영등포구    1250
서초구     1227
강남구     1218
마포구     1075
강서구     1002
노원구      879
광진구      841
구로구      788
종로구      784
성동구      780
강동구      763
성북구      726
은평구      716
양천구      677
서대문구     667
동대문구     659
관악구      640
중랑구      616
금천구      560
용산구      538
동작구      501
중구       493
강북구      451
도봉구      396
Name: 거치대수, dtype: int64

In [228]:
df

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수
0,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5
1,마포구,102,102. 망원역 1번출구 앞,서울특별시 마포구 월드컵로 72,37.555649,126.910629,2015-09-06 23:42:06,20
2,마포구,103,103. 망원역 2번출구 앞,서울특별시 마포구 월드컵로 79,37.554951,126.910835,2015-09-06 23:43:13,14
3,마포구,104,104. 합정역 1번출구 앞,서울특별시 마포구 양화로 59,37.550629,126.914986,2015-09-06 23:44:31,13
4,마포구,105,105. 합정역 5번출구 앞,서울특별시 마포구 양화로 48,37.550007,126.914825,2015-09-06 23:45:30,5
...,...,...,...,...,...,...,...,...
1535,종로구,464,삼청동 골목,종로구 팔판길 46,37.584190,126.981697,2019-08-16 00:00:00,10
1536,관악구,2185,대학동 고시촌,서울특별시 관악구 신림로 97 밀라트,37.470467,126.938652,2019-09-26 00:00:00,10
1537,서초구,2265,2265. 이수고가차도 남단,서울특별시 서초구 동작대로 204 청남빌딩,37.494743,126.983063,2017-08-09 11:16:28,10
1538,종로구,465,465. 삼청공원 앞,서울특별시 종로구 삼청동 25-32,37.587605,126.983597,2019-11-20 00:00:00,5
1539,종로구,664,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019-11-20 00:00:00,10

## 구별 거치대수의 합계, 평균, 최대, 최소 출력하고 거치대가 많은 순으로 합계별 내림차순으로 10개 출력

In [229]:
grouped['거치대수'].agg(['sum','mean','max','min']).sort_values('sum', ascending=False).head(10).round(2)

        sum   mean  max  min
대여소_구
송파구    1298  13.11   30    7
영등포구   1250  14.04   40    6
서초구    1227  13.79   25    7
강남구    1218  12.30   30    5
마포구    1075  13.61   40    5
강서구    1002  11.79   25    6
노원구     879  12.93   20    7
광진구     841  14.25   40    5
구로구     788  12.31   30    5
종로구     784  11.53   21    5

# 서울시 공공자전거 대여 정보 분석
- 대여정보 읽기
- 대여정보 확인 (결측치 컬럼 등)
- 대여일시, 반납일시를 날짜타입으로 변경
- 일자별로 대여 건수 내림차순으로 정렬하여 출력
    - Series객체.dt.날짜property
- 요일별 대여 건수 확인

## 대여 정보 데이터 읽기

In [230]:
import numpy as np
import pandas as pd

df2 = pd.read_csv("서울특별시 공공자전거 대여정보_201911_2.csv",encoding='cp949')
df2

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-04392,2019-11-28 23:07,2377,수서역 5번출구 뒤,9,2019-11-28 23:18,1203,밀리아나2빌딩 앞,5,11,1980
1,SPB-23502,2019-11-28 22:43,2613,잠실나들목,3,2019-11-29 0:07,1203,밀리아나2빌딩 앞,1,82,11130
2,SPB-11498,2019-11-29 0:04,1256,문정현대아파트 교차로,6,2019-11-29 0:11,1203,밀리아나2빌딩 앞,14,6,800
3,SPB-16665,2019-11-29 0:02,1278,송파구청 교차로,9,2019-11-29 0:21,1203,밀리아나2빌딩 앞,2,18,3730
4,SPB-14688,2019-11-29 0:17,1230,송파중학교 정문,5,2019-11-29 0:26,1203,밀리아나2빌딩 앞,3,9,1370
...,...,...,...,...,...,...,...,...,...,...,...
678825,SPB-07983,2019-11-26 8:27,2183,동방1교,2,2019-11-26 9:31,99999,영남단말기정비,5,59,8520
678826,SPB-24906,2019-11-27 8:26,2141,미림여고입구 교차로,2,2019-11-27 9:26,99999,영남단말기정비,5,59,8680
678827,SPB-17861,2019-11-28 8:11,2183,동방1교,4,2019-11-28 8:54,99999,영남단말기정비,5,40,10570
678828,SPB-17173,2019-11-29 8:12,2183,동방1교,1,2019-11-29 9:17,99999,영남단말기정비,5,64,10560
678829,SPB-17714,2019-11-29 11:47,99999,영남단말기정비,5,2019-11-29 13:04,99999,영남단말기정비,5,76,2420

## 대여정보 확인

In [231]:
df2.isna().sum()

자전거번호       0
대여일시        0
대여 대여소번호    0
대여 대여소명     0
대여거치대       0
반납일시        0
반납대여소번호     0
반납대여소명      0
반납거치대       0
이용시간        0
이용거리        0
dtype: int64

## 대여일시, 반납일시를 날짜타입으로 변경

In [233]:
df2['반납일시'] =pd.to_datetime(df2['반납일시'], format='mixed')
df2['대여일시'] =pd.to_datetime(df2['대여일시'], format='mixed')
df2

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-04392,2019-11-28 23:07:00,2377,수서역 5번출구 뒤,9,2019-11-28 23:18:00,1203,밀리아나2빌딩 앞,5,11,1980
1,SPB-23502,2019-11-28 22:43:00,2613,잠실나들목,3,2019-11-29 00:07:00,1203,밀리아나2빌딩 앞,1,82,11130
2,SPB-11498,2019-11-29 00:04:00,1256,문정현대아파트 교차로,6,2019-11-29 00:11:00,1203,밀리아나2빌딩 앞,14,6,800
3,SPB-16665,2019-11-29 00:02:00,1278,송파구청 교차로,9,2019-11-29 00:21:00,1203,밀리아나2빌딩 앞,2,18,3730
4,SPB-14688,2019-11-29 00:17:00,1230,송파중학교 정문,5,2019-11-29 00:26:00,1203,밀리아나2빌딩 앞,3,9,1370
...,...,...,...,...,...,...,...,...,...,...,...
678825,SPB-07983,2019-11-26 08:27:00,2183,동방1교,2,2019-11-26 09:31:00,99999,영남단말기정비,5,59,8520
678826,SPB-24906,2019-11-27 08:26:00,2141,미림여고입구 교차로,2,2019-11-27 09:26:00,99999,영남단말기정비,5,59,8680
678827,SPB-17861,2019-11-28 08:11:00,2183,동방1교,4,2019-11-28 08:54:00,99999,영남단말기정비,5,40,10570
678828,SPB-17173,2019-11-29 08:12:00,2183,동방1교,1,2019-11-29 09:17:00,99999,영남단말기정비,5,64,10560
678829,SPB-17714,2019-11-29 11:47:00,99999,영남단말기정비,5,2019-11-29 13:04:00,99999,영남단말기정비,5,76,2420

## 요일별 대여 건수 확인

In [234]:
df2['요일'] = df2['대여일시'].dt.dayofweek
# df['대여요일'] = pd.Series([일,월,화,수,목,금,토])
# df

In [235]:
dayofweek = {0:'월',1:'화',2:'수',3:'목',4:'금',5:'토',6:'일',}
df2['요일'] = df2['요일'].map(dayofweek)

In [236]:
df2.groupby('요일')['요일'].count().sort_values(ascending=False).apply(lambda x: f'{x,}건')

요일
토    (119574,)건
금    (113660,)건
화    (104938,)건
월     (95045,)건
목     (91159,)건
수     (88768,)건
일     (65686,)건
Name: 요일, dtype: object

## 일자별로 대여 건수 내림차순으로 정렬하여 출력

In [237]:
df2['day'] = df2['대여일시'].dt.day
df2.groupby('day')['day'].count().sort_values(ascending=False)

day
4     34711
5     34526
1     33958
6     33234
2     30848
3     30787
7     30549
12    29970
8     28918
9     27380
11    25721
22    24758
23    23920
26    22771
28    20540
21    20408
27    20299
16    19907
29    19755
14    19662
25    18576
10    18537
20    18117
19    17671
30    17519
13    17118
18    16037
24    11278
15     6271
17     5084
Name: day, dtype: int64

# 대여소 정보와 대여정보 Join
- 대여소 정보와 대여정보 join
- join 데이터 정보 확인
- 각 구별 이용시간과  이용거리에 대한 평균, 최대, 최소값 출력

## 대여소 ID 기준으로 두 데이터 병합

In [239]:
rent_bicycle = pd.merge(df,df2,left_on='대여소ID',right_on='대여 대여소번호')
rent_bicycle

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수,자전거번호,대여일시,...,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리,요일,day
0,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-23976,2019-11-04 19:57:00,...,(구)합정동 주민센터,3,2019-11-04 21:21:00,1231,잠실역 6번출구,1,81,63150,월,4
1,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-08747,2019-11-02 01:50:00,...,(구)합정동 주민센터,5,2019-11-02 02:30:00,2016,신대방삼거리역 3번출구쪽,5,40,8920,토,2
2,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-16380,2019-11-09 01:31:00,...,(구)합정동 주민센터,1,2019-11-09 02:14:00,2016,신대방삼거리역 3번출구쪽,5,42,8890,토,9
3,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-15723,2019-11-16 01:51:00,...,(구)합정동 주민센터,1,2019-11-16 02:28:00,2016,신대방삼거리역 3번출구쪽,6,36,8850,토,16
4,마포구,101,101. (구)합정동 주민센터,서울특별시 마포구 동교로8길 58,37.549561,126.905754,2015-09-06 23:40:56,5,SPB-20417,2019-11-09 20:28:00,...,(구)합정동 주민센터,1,2019-11-09 22:12:00,2113,관악동작견인차량보관소,7,98,13120,토,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
677500,종로구,664,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019-11-20 00:00:00,10,SPB-19278,2019-11-26 22:37:00,...,서울시립대 대학본부,10,2019-11-26 22:54:00,1643,태릉입구역 8번출구,1,15,5060,화,26
677501,종로구,664,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019-11-20 00:00:00,10,SPB-08625,2019-11-30 21:30:00,...,서울시립대 대학본부,10,2019-11-30 21:53:00,1643,태릉입구역 8번출구,7,22,4450,토,30
677502,종로구,664,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019-11-20 00:00:00,10,SPB-20275,2019-11-26 18:19:00,...,서울시립대 대학본부,5,2019-11-26 18:59:00,1664,노해근린공원내,4,38,8790,화,26
677503,종로구,664,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019-11-20 00:00:00,10,SPB-18219,2019-11-23 18:23:00,...,서울시립대 대학본부,5,2019-11-23 20:12:00,1707,도봉구민회관,15,108,12550,토,23
677504,종로구,664,서울시립대 대학본부,동대문구 서울시립대로 163 서울시립대학교,37.584129,127.057938,2019-11-20 00:00:00,10,SPB-14490,2019-11-22 10:21:00,...,서울시립대 대학본부,10,2019-11-22 11:00:00,3508,화양사거리,10,38,6540,금,22

In [240]:
rent_bicycle.shape

(677505, 21)

## 구별 평균 이용시간, 평균 이용거리, 최대 이용시간, 최소 이용시간 확인 (구 이름 정렬)

In [246]:
rent_grouped = rent_bicycle.groupby('대여소_구')[['이용시간','이용거리']].agg(['mean','max','min'])
rent_grouped

            이용시간                   이용거리
            mean   max min         mean     max min
대여소_구
강남구    23.382298   740   1  3193.727233  100980   0
강동구    26.260650   237   1  4128.647530   71170   0
강북구    19.494643   772   1  2541.262305  111530   0
강서구    17.299746   383   1  3037.660029  129700   0
관악구    20.469692   666   1  2929.804723  185110   0
광진구    21.522678  1000   1  2884.606619  172320   0
구로구    19.570479   969   1  2691.200561  155830   0
금천구    19.544569   370   1  2769.887676   95250   0
노원구    20.382049  1719   1  2661.159418   79820   0
도봉구    20.758714   701   1  2883.359794   81020   0
동대문구   22.714575   518   1  3604.658298  129460   0
동작구    22.934526  1282   1  3150.196766  146850   0
마포구    44.869336   249   2  8621.309039   80800   0
서대문구   31.755382   316   1  4803.547582  125410   0
서초구    22.452883   476   1  3059.817962  110390   0
성동구    31.316633   919   1  4723.099450  126270   0
성북구    18.888129  1025   1  2516.085702  102500   0
송파구    22.488512  1106   1  2802.381620  109570   0
양천구    29.650766   236   1  5360.720915   81170   0
영등포구   31.721189   556   1  5330.747505  116390   0
용산구    41.099339   777   5  6910.704033   97090   0
은평구    45.856749   218   2  8899.338843   81870   0
종로구    28.761135   306   1  4516.685792   79210   0
중구     37.877796  1066   2  6526.280761   81620   0
중랑구    18.764389   636   1  2591.262076   98120   0

In [247]:
rent_grouped.sort_index(ascending=False)

            이용시간                   이용거리
            mean   max min         mean     max min
대여소_구
중랑구    18.764389   636   1  2591.262076   98120   0
중구     37.877796  1066   2  6526.280761   81620   0
종로구    28.761135   306   1  4516.685792   79210   0
은평구    45.856749   218   2  8899.338843   81870   0
용산구    41.099339   777   5  6910.704033   97090   0
영등포구   31.721189   556   1  5330.747505  116390   0
양천구    29.650766   236   1  5360.720915   81170   0
송파구    22.488512  1106   1  2802.381620  109570   0
성북구    18.888129  1025   1  2516.085702  102500   0
성동구    31.316633   919   1  4723.099450  126270   0
서초구    22.452883   476   1  3059.817962  110390   0
서대문구   31.755382   316   1  4803.547582  125410   0
마포구    44.869336   249   2  8621.309039   80800   0
동작구    22.934526  1282   1  3150.196766  146850   0
동대문구   22.714575   518   1  3604.658298  129460   0
도봉구    20.758714   701   1  2883.359794   81020   0
노원구    20.382049  1719   1  2661.159418   79820   0
금천구    19.544569   370   1  2769.887676   95250   0
구로구    19.570479   969   1  2691.200561  155830   0
광진구    21.522678  1000   1  2884.606619  172320   0
관악구    20.469692   666   1  2929.804723  185110   0
강서구    17.299746   383   1  3037.660029  129700   0
강북구    19.494643   772   1  2541.262305  111530   0
강동구    26.260650   237   1  4128.647530   71170   0
강남구    23.382298   740   1  3193.727233  100980   0